/*
	nethermaker.github.io Styles
	Author: Tyler Senne
	Date: March 2018
*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background-color: gray;
	font-family: Raleway, Geneva, sans-serif;
	width: 900px;
	margin: auto;
	text-align: center;
	font-size: 3em;
	padding-top: 1.5em;
}

div {
	text-align: center;
	font-size: 2em;
	font-style: bold;
}
