/*
	Country Final - Stylesheet
	Author: Tyler Senne
	Date: 2/28/2018
*/

@import url('https://fonts.googleapis.com/css?family=Lato');

/*General*/
body {
	width: 100%;
	min-width: 1000px;
	max-width: 1000px;
	margin: auto;
	font-family: 'Lato', Helvetica, sans-serif;
}

header, nav, aside, section, footer {
	display: block;
}

h1, h2 {
	font-weight: 550;
}

/*Nav*/
nav {
	float: left;
	background-color: rgb(38,38,255);
	width: 15%;
	margin-top: 10px;
	padding: 0px;
}

nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

nav ul li {
	line-height: 3em;
	font-size: 1.5em;
	text-align: left;
	text-indent: 20%;
	padding: 0px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	position: relative;
}

nav ul div {
	height: 2em;
	width: 5px;
	position: relative;
	float: left;
	background-color: red;
	top: 20px;
	left: 20px;
}

/*Nav Animations*/
nav ul li:hover {
	animation: bg-change 0.5s ease forwards;
}

nav ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0%;
	margin: auto;
	content: '.';
	color: transparent;
	background: #FFFFFF;
	height: 1px;
}

nav ul li a:hover:after {
	animation: ul-change 0.5s ease forwards;
}

@keyframes ul-change {
	to {width: 100%;}
}

@keyframes bg-change {
	to {background-color: rgb(18,18,235);}
}

/*Section*/
section {
	margin: 10px 0px 20px 17%;
	width: 59%;
	border: 2px solid red;
	background-color: rgb(230,230,230);
	padding: 10px;
}

section h2 {
	margin-top: 5px;
}

header {
	text-align: center;
}

section.language  p {
	column-count: 2;
	column-gap: 30px;
	column-rule: 2px solid rgb(38,38,255);
}

/*Aside*/
aside {
	float: right;
	background-color: rgb(38,38,255);
	width: 20%;
	margin-top: 10px;
	text-align: center;
	padding-top: 10px;
}

aside figcaption {
	color: white;
	font-size: 1.1em;
	font-style: italic;
	padding: 10px 0px;
}

/*Tables*/
section.table {
	text-align: center;
}

table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0px;
}

table *:not(caption) {
	border: 2px solid rgb(38,38,255);
	padding: 5px;
}

table caption {
	caption-side: bottom;
	text-align: right;
	font-style: italic;
	font-variant: small-caps;
}

table thead {
	background-color: rgb(38,38,255);
	color: white;
	font-size: 1.5em;
	letter-spacing: 2px;
}

table td {
	text-align: left;
}

/*Footer*/
footer address {
	clear: left;
	text-align: center;
	border-top: 3px solid red;
	font-style: normal;
}